body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.activity {
  background: #f4f4f4;
  border-style: solid;
  margin: auto;
  max-width: 500px;
  text-align: left;
  text-indent: 10px;
  justify-content: space-between;
}

.header {
  text-indent: 10px;
}